# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2389efdcfff8edfdfe5ad8ee557b15e0af4ed6e450b9753f06fa77e260a6703a5e0401b1d270347c758d05be4133dbbde368b153289aa2208cdeb197b5a81119

test:
  secret_key_base: bfc81802780f580b34a2377093799b92a5fdaccf7afde22805fa27201c99140890e20ca1b60cafe183f3f7302495fd0e1e9f83dd80db7027cb6bb8321eef07b9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["ORDER_APP_SECRET_KEY_BASE"] %>
